.well
  .row
    .col-sm-4
      .h3 Игроки
    - unless mode == :show
      .col-sm-2.pull-right
        = link_to "Добавить", new_champ_contract_path(@champ, @team), class: "btn btn-default pull-right"

  = render partial:'shared/players_table', locals:{players: @team.current_players}