= render partial: 'team_title'
= render partial: 'team_tabs'

%h4.gray-title Общая информация
= render partial: 'form',  locals: {form_action: champ_team_path(@champ, @team)}

= render partial: 'players_list', locals: {mode: :edit}