= render partial: 'team_title'
= render partial: 'team_tabs'

%ul.nav.nav-tabs.top20
  %li.active
    %a{href: '#games', 'data-target' => '#games', 'data-toggle'=>'tab'} Календарь
  %li
    %a{href: '#players', 'data-target' => '#players', 'data-toggle'=>'tab'} Игроки


.tab-content
  .tab-pane.active#games
    = render partial: 'team_games'
  .tab-pane#players

