%ul.nav.nav-tabs.top20
  = tab 'Таблица', teams_champ_path(@champ)
  = tab 'Календарь', schedule_champ_path(@champ)
  = tab 'Статистика игроков', stats_champ_path(@champ)
  = tab 'Дисквалификация', disq_champ_path(@champ)