.row
  .col-sm-12
    %ul.breadcrumb
      %li= link_to 'Турниры', champs_path
      %li= @champ.full_title
.row
  .col-sm-9
    %h3
      .label.label-default#champ_type= @champ.champ_type
      = @champ.title
  .col-sm-3
    - if can? :manage, Champ
      =link_to 'Редактировать', edit_champ_path(@champ), class: 'top20 btn btn-primary btn-sm pull-right'
