.row
  .col-sm-3
    %h2 Турниры
  .col-sm-2.pull-right.top20.text-right
    = link_to "Создать", new_champ_path, class: "btn btn-primary"

- if @champs.any?
  %table.table.table-stripped.table-hover
    %thead
      %tr
        %th #
        %th Название
    %tbody
      - @champs.each do |champ|
        %tr
          %td= champ.id
          %td= link_to(champ.full_title, champ_path(champ.id))
- else
  %p Не проводится