.row
  .col-sm-4
    %h3 Лиги #{@type}
  - if can? :manage, Champ
    .col-sm-2.pull-right.top20.text-right
      = link_to "Создать", new_champ_path, class: "btn btn-primary"

- if @champs.any?
  %table.table
    %tbody
      - @champs.each do |champ|
        %tr
          %td= link_to(champ.full_title, champ_path(champ.id))
- else
  %p Не проводится