- flash.each do |name, msg|
  - if msg.is_a?(String)
    #flash_notice.bs-callout{class: "bs-callout-#{name == :notice ? "info" : "error"}"}
      %a.close{'data-dismiss' => 'alert'} &#215;
      = content_tag :div, msg, :id => "flash_#{name}"
  - if name == 'add_comment' && msg
    = render 'shared/add_comment'
