- if team&&team.players.present?
  %table.table.table-hover
    %tbody
      - team.players.each_with_index do |player, index|
        %tr
          %td= link_to player.short_name, player_path(player.id)