%ul.breadcrumb
  %li= link_to 'Соревнования', champs_path
  %li= link_to @champ.title, edit_champ_path(@champ.id)
  %li= link_to @stage.title, edit_champ_stage_path(@champ, @stage)
  %li Создать матч

%h2 Новый матч
%br
= render partial: 'form', locals: {form_action: champ_stage_games_path(@champ, @stage)}