- if players.any?
  %table.table.table-stripped.table-hover
    %thead
      %tr
        %th #
        %th ФИО
        %th Дата рождения
    %tbody
      - players.sort_by{|i| [i.surname, i.name, i.middlename]}.each_with_index do |player, index|
        %tr
          %td= index+1
          %td= link_to player.full_name, player_path(player.id)
          %td= pretty_date player.birthdate, :slashes

- else
  %p Пока нет ни одного игрока