- if players.any?
  %table.table.table-stripped.table-hover
    %thead
      %tr
        %th ФИО
        %th Дата рождения
    %tbody
      - players.each do |player|
        %tr
          %td= link_to player.full_name, player_path(player.id)
          %td= pretty_date player.birthdate, :slashes

- else
  %p Пока нет ни одного игрока