
.row
  .col-sm-3
    %h3 Игроки
  - if can? :manage, Player
    .col-sm-2.pull-right.top20.text-right
      = link_to "Новый игрок", new_player_path, class: "btn btn-primary btn-sm"
.row
  .col-sm-12
    = render partial: "players_table", locals:{players: @players}

