// Place all the styles related to the champs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.short-table{
  min-width: 300px;
  font-size: 12px;

  #champ_type.label{
    font-size: 100%;
    padding: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background-color: #606060;
    color: #f5f5f5
  }

  .panel-body{
    padding: 5px;
    a{ color: #3a3a3a }
  }
  .panel-heading{
    padding: 5px;
    padding-left: 10px;

  }
  table{width: 100%;}
  td, th{
    padding-left: 5px;
    padding-right: 5px;
  }

  &.gold{
    border-color: rgba(198, 176, 22, 0.73);
    .panel-heading{
      background-color: rgba(255, 239, 90, 0.76);
    }
  }
  &.platinum{
    border-color: #919191;
    .panel-heading{
      background-color: gainsboro;
    }
  }
  &.broI18nnze{
    border-color: rgba(124, 87, 61, 0.71);
    .panel-heading{
      background-color: rgba(255, 182, 121, 0.72);
    }
  }
  &.green{
    border-color: #80a580;
    .panel-heading{
      background-color: #a9dca2;
    }
  }

  &.red{
    border-color: #b86967;
    .panel-heading{
      background-color: #f38e8b;
    }
  }



}

