.footer{
  position: relative;
}

.footer-text{
  position: relative;
  color: #f9f9f9;
  font-size: 14px;
  font-weight: bolder;
  padding: 5px;
}

.footer-date{
  position: absolute;
  right: 5px;
  bottom: 0;
  color: #f9f9f9;
  font-size: 12px;
  padding: 5px;
}

.counters{
  position: absolute;
  left: 10px;
  top: -5px;
}