
@import "bootstrap";

.table{
  margin-top: 10px;
}
.navbar-brand {
  font-size: inherit;
  }

.navbar-inverse{
//  background-color: forestgreen;
  a{
    padding: 10px;
  }
}

.form-group {
  padding: 10px;
}
.well{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
.breadcrumb{
  margin-bottom: 8px;
  margin-top: 0;
  padding: 5px;
  background-color: white;
}
hr{
  margin: 5px;
}

span.green{
  color: green;
  font-weight: bold;
}

span.red{
  color: darkred;
  font-weight: bold;
}

.text-crossed td{
  text-decoration:line-through;
}

main {
  @extend .col-sm-9;
  background-color: whitesmoke;
}
.container {
  padding-top: 20px;
  background-color: #eee;
  padding-bottom: 80px;
  padding-left:15px;
  padding-right: 35px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }

.ui-datepicker {
  width: 200px;
  height: auto;
  margin: 5px auto 0;
  font: 8pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

a{
  color: darkgreen;
   &.inactive {
    color: dimgray;
   }
   &:hover {
     color: dimgray;
   }
}

#top-right{
  position: absolute;
  right:5px;
  top: -50px;
}

.gray-title{
  @extend .row;
  text-align: center;
  background-color: #dadada;
  padding: 5px;
}

.blue-title{
  @extend .row;
  text-align: center;
  background-color: lightblue;
  padding: 5px;
}

.short-table{
  min-width: 300px;
  font-size: 12px;
  .panel-body{
    padding: 5px;
  }
  .panel-heading{
    padding: 5px;
    padding-left: 10px;

  }
  table{width: 100%;}
  td, th{
    padding-left: 5px;
    padding-right: 5px;
  }

}

.table.sortable{
  th{
    cursor: pointer;
  }
}

#champ_type.label{
  font-size: 100%;
  padding: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.champ-type-menu {
  font-size: 16px;
  font-weight: bold;
}

