
@import "bootstrap";
@import "variables";
body{
  color: $font-color;
}

.table{
  thead tr th{
    border-bottom-color: $nav-tab-border-color;
  }
  tbody tr td{
    border-top-color: $nav-tab-border-color;
  }

  margin-top: 10px;
}

.label.label-default{
  background-color: $menu-link-color;
}

.head{
  position: relative;
}

nav.navbar{
  width: 100%;
  max-height: 40px;
  min-height: 40px;
  margin-bottom: 0;
  position: absolute;
  a {

    font-family: $font-family ;
    color: white;
  }

  a.dropdown-toggle{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a.dropdown-toggle:hover{
    background-color: $active-tab-color;
  }
  .dropdown-menu{
    background-color: $active-tab-color;
    a{
      font-size: 14px;
    }
  }


  border-radius: 0;
  top: 270px;
  background-color: rgba(47, 47, 47, 0.80);
  border-style: none;
  z-index: 1000;
}

.nav.nav-tabs{
  border-bottom-color: $nav-tab-border-color;
  .active a, .active a:hover{
    background-color: $active-tab-color ;
    color: #f5f5f5;
    border-color: $nav-tab-border-color;

  }

  a:hover{
    background-color: $hover-tab-color ;
    color: $font-color;
    border-color: $nav-tab-border-color;
  }
  a{
    color: $font-color;
  }

}

.navbar-brand {
  font-size: inherit;
  }

.nav .caret {
  border-top-color: #f5f5f5 !important;
  border-bottom-color: #f5f5f5 !important;
}

.form-group {
  padding: 10px;
}
.well{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
.breadcrumb{
  margin-bottom: 8px;
  margin-top: 0;
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px;
  padding: 5px;
  li:before{
    color: $active-tab-color !important;
  }
  background-color: $breadcrump-color;
}
hr{
  margin: 5px;
}

span.green{
  color: #005700;
  font-weight: bold;
}

span.red{
  color: #670000;
  font-weight: bold;
}

.text-crossed td{
  text-decoration:line-through;
}

.footer{
  @extend .container;
  position: relative;
}

main {
  @extend .col-sm-9;
  background-color: whitesmoke;
}
.container {
  &.devise{
    background-color: #ffffff;
  }
  background-color: #6e9fc4;
  width: 960px;
  padding: 0;
  }

.ui-datepicker {
  width: 200px;
  height: auto;
  margin: 5px auto 0;
  font: 8pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

a{
  color: $font-color;
   &.inactive {
    color: $font-color;
   }
   &:hover {
     color: $font-color;
   }
}

#top-right{
  position: absolute;
  right:5px;
  top: -50px;
}

.gray-title{
  @extend .row;
  text-align: center;
  background-color: $breadcrump-color;
  border-top: 3px solid $nav-tab-border-color;
  border-bottom: 1px solid $nav-tab-border-color;
  padding: 5px;
}

.blue-title{
  @extend .row;
  text-align: center;
  background-color: lightblue;
  padding: 5px;
}

.table.sortable{
  th{
    cursor: pointer;
  }
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.champ-type-menu {
  font-size: 16px;
  font-weight: bold;
}

#main-container{
  margin-top: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;

}
#right-panel {
  margin-top: 15px;

}

.td-number{
  width: 20px;
}

.huge-team-link{
  padding-top: 15px;
  a{
  font-size: 18px;
  }
}