.score_field {
  min-width: 26px;
  height: 54px;
  font-size: 40px;
  padding: 0;

  border: none;
  color: forestgreen;

}
.scorebox {
  text-align:center;
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 10px;
}

input.ball-count {
  width: 27px;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 8px;

  border: 1px solid gray;
  color: black;
  border-radius: 5px;
}

