.score_field {
  min-width: 26px;
  height: 54px;
  font-size: 40px;
  padding: 0;
  border: none;
  color: forestgreen;

}
.scorebox {
  text-align:center;
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 10px;
}

input.ball-count {
  width: 27px;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 8px;

  border: 1px solid gray;
  color: black;
  border-radius: 5px;
}

.game-teams{
  .home-team{
    float: left;
    width: 33%;
  };
  .score{
    .game-result{
      font-size: 40px;
    }
    float: left;
    width: 33%;
  }
  .visiting-team{
    float: left;
    width: 33%;

  }
}

.team-logo{
  font-size: 14px;
  width: 121px;
  margin: 0 auto;
}

