.post-title{
  @extend .row;
  text-align: left;
  background-color: #d0e8f4;
  font-size: 20px;
  padding: 5px;
  margin-left: -15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.post-date{
  @extend .row;
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
}
.post-block {
  margin-bottom: 45px;
  padding-top: 15px;
  margin-right: -15px;
}

.post-text {

}

.short-table{
  .date{
    float:left;
    font-weight: bolder;
    padding-right: 5px;

  }
  .title{
    float: left;
  }
}

