$menu-link-color: #ce4812;
$active-tab-color: #447ca7;
$hover-tab-color: rgba(82, 160, 217, 0.12);
$nav-tab-border-color: rgb(201, 218, 233);
$breadcrump-color: rgb(222, 239, 254);
//  #ed6a36;
$font-color: #093f69;
$font-family: 'Arial';