-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-inverse.navbar-fixed-top
  .navbar-header
    = link_to image_tag('/ball.png', size: '25x25'), root_path, class: 'navbar-brand'

  %ul.nav.navbar-nav
    = render 'layouts/navigation_links'
  .collapse.navbar-collapse
    = render partial: 'shared/user'
