-# navigation styled for Bootstrap 3.0
%a{href: root_path}
  =image_tag('/images/logo960.png')

%nav.navbar
  %ul.nav.navbar-nav
    = render 'layouts/navigation_links'
  .collapse.navbar-collapse
    = render partial: 'shared/user'
